*{
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: #102C57;
    color: antiquewhite;
}
#header ul{
    list-style: None;
    padding: 5px;

}
#header ul li{
    display: inline-block;
    margin: 10px 10px;
    padding: 8px 8px;
    border: 1px dashed whitesmoke;
    border-radius: 5px;
    background-color: #0F2C59;
    border-bottom: 2px solid violet;
    
}
#header ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    
}